.about-me__profile {
  margin-top: 66px;
  display: flex;
  gap: 280px;
}

@media screen and (max-width: 768px) {
  .about-me__profile {
    gap: 50px;
  }
}

@media screen and (max-width: 540px) {
  .about-me__profile {
    margin-top: 60px;
    flex-direction: column-reverse;
    gap: 40px;
  }
}
