.about-project__week-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
}

@media screen and (max-width: 500px) {
  .about-project__week-text {
    font-size: 11px;
  }
}
