.search-form__submit {
  background-image: url(../../../images/find-3.png);
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 6px;
  flex: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-bottom: 2px;
}

.search-form__submit:hover {
  opacity: 80%;
}

@media screen and (max-width: 768px) {
  .search-form__submit {
    margin-bottom: 0;
  }
}
