.page-not-found__title {
  margin: 0;
  font-size: 140px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .page-not-found__title {
    font-size: 80px;
    font-weight: 400;
    line-height: 97px;
    letter-spacing: 0em;
  }
}
