.login__register-link {
  margin-left: 6px;
  color: #4285f4;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login__register-link:hover {
  opacity: 70%;
}

@media screen and (max-width: 500px) {
  .login__register-link {
    margin-left: 7px;
  }
}
