.portfolio {
  background-color: #202020;
  padding: 100px 70px 125px;
  max-width: 1280px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 91px 50px 89px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio {
    padding: 70px 14px 89px;
  }
}
