.search-form__text {
  background-color: #2f2f2f;
  height: 50px;
  border-radius: 8px;
  padding-left: 20px;
  border: 0;
  margin-right: 10px;
  color: white;
  outline: none;
  flex: 1064px;
  max-width: 1084px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .search-form__text {
    flex: 654px;
  }
}

@media screen and (max-width: 500px) {
  .search-form__text {
    height: 40px;
    flex: 238px;
    padding-left: 12px;
  }
}
