.profile__buttons {
  margin-top: 219px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .profile__buttons {
    margin-top: 208px;
  }
}

@media screen and (max-width: 500px) {
  .profile__buttons {
    margin-top: 377px;
  }
}
