.footer__link {
  margin: 0;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer__link:hover {
  opacity: 70%;
}

@media screen and (max-width: 500px) {
  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }
}
