.movies-card__name {
  margin: 0;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .movies-card__name {
    font-size: 13px;
    letter-spacing: 0px;
  }
}
