.navtab__title {
  background-color: #303030;
  border-radius: 10px;
  line-height: 2;
  text-align: center;
  width: 96px;
  height: 36px;
}

@media screen and (max-width: 500px) {
  .navtab__title {
    width: 82px;
    height: 26px;
    line-height: 1.7;
  }
}
