.portfolio__link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.04em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.portfolio__link:hover {
  opacity: 70%;
}

@media screen and (max-width: 768px) {
  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }
}
