.header__account {
  background-color: #313131;
  border-radius: 20px;
  height: 32px;
  width: 100px;
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header__account {
    display: none;
  }
}
