.about-me__age {
  margin: 18px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .about-me__age {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0px;
    margin-top: 16px;
  }
}

@media screen and (max-width: 500px) {
  .about-me__age {
    margin-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }
}
