.footer {
  margin: 0 auto;
  max-width: 1140px;
  padding: 79px 70px 20px;
}
.footer__copyright {
  color: white;
  margin: 2px 0 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
}

.footer__link {
  margin: 0;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.footer__link:hover {
  opacity: 70%;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

.footer__list {
  margin: 0;
  display: flex;
  gap: 20px;
}

.footer__list-text {
  list-style: none;
  margin-bottom: 1px;
}

.footer__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
  margin: 0;
  border-bottom: 1px solid #424242;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 79px 30px 20px;
  }
}

@media screen and (max-width: 500px) {
  .footer__text {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 21px;
  }
  .footer__list {
    padding: 0px;
    align-items: center;
    gap: 8px;
    flex-direction: column;
  }

  .footer__links {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: normal;
    padding-top: 27px;
    gap: 25px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    font-size: 12px;
    line-height: 15px;
  }

  .footer {
    padding: 0px 10px 20px;
  }
}
