.profile__button-save {
  padding: 0;
  color: #fff;
  background-color: #4285f4;
  padding: 13px 168px 15px 167px;
  border: none;
  font-weight: 500;
  line-height: 16.94px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.profile__button-save:hover {
  opacity: 70%;
}

@media screen and (max-width: 500px) {
  .profile__button-save {
    font-size: 12px;
  }
}
