.about-project__line {
  margin-top: 97px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .about-project__line {
    margin-top: 80px;
  }
}

@media screen and (max-width: 500px) {
  .about-project__line {
    margin-top: 50px;
  }
}
