.profile {
  padding: 72px 0 70px;
  max-width: 1140px;
  margin: auto;
}

.profile__error {
  width: 100%;
  color: #ee3465;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
}

.profile__button-logout {
  padding: 0;
  color: #ee3465;
  background-color: #202020;
  border: none;
  font-weight: 500;
  line-height: 15.73px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile__button-logout:hover {
  opacity: 70%;
}

.profile__button-save {
  padding: 0;
  color: #fff;
  background-color: #4285f4;
  padding: 13px 168px 15px 167px;
  border: none;
  font-weight: 500;
  line-height: 16.94px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.profile__button-save:hover {
  opacity: 70%;
}

.profile__button-submit {
  padding: 0;
  color: #fff;
  background-color: #202020;
  border: none;
  font-weight: 400;
  line-height: 15.73px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile__button-submit:hover {
  opacity: 70%;
}

.profile__button-save:disabled {
  background-color: grey;
  transition: none;
  cursor: auto
}

.profile__button-save:disabled:hover {
  opacity:1;
}

.profile__buttons {
  margin-top: 219px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__buttons-hide {
  display: none;
}

.profile__buttons-save {
  display: flex;
  justify-content: center;
  padding-top: 223px;
}

.profile__buttons-save-show {
  display: none;
}

.profile__form {
  margin: 123px auto 0;
  max-width: 410px;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.profile__input {
  color: #fff;
  text-align: right;
  background-color: transparent;
  font-weight: 400;
  line-height: 1.2;
  font-size: 11px;
  border: none;
}

.profile__input-error {
  color: #ee3465;
}

.profile__input:focus {
  outline: 1px solid white;
}

.profile__input::placeholder {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.2;
  color: #fff;
  text-align: right;
}

.profile__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profile__line {
  height: 1px;
  background-color: #424242;
}

.profile__text {
  color: #fff;
  font-weight: 500;
  line-height: 13.31px;
  font-size: 11px;
}

.profile__title {
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .profile {
    padding: 236px 0 269px;
  }
}

@media screen and (max-width: 768px) {
  .profile__buttons {
    margin-top: 208px;
  }

  .profile__form {
    margin: 96px auto 0;
  }
}

@media screen and (max-width: 500px) {
  .profile {
    padding: 76px 0 40px;
  }

  .profile__button-logout {
    font-size: 12px;
  }

  .profile__button-save {
    font-size: 12px;
  }

  .profile__button-submit {
    font-size: 12px;
  }

  .profile__buttons {
    margin-top: 377px;
  }

  .profile__form {
    margin: 80px auto 0;
    max-width: 260px;
  }
}


