.profile__button-logout {
  padding: 0;
  color: #ee3465;
  background-color: #202020;
  border: none;
  font-weight: 500;
  line-height: 15.73px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.profile__button-logout:hover {
  opacity: 70%;
}

@media screen and (max-width: 500px) {
  .profile__button-logout {
    font-size: 12px;
  }
}
