.techs__list {
  list-style: none;
  padding: 0;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .techs__list {
    margin-top: 82px;
  }
}

@media screen and (max-width: 680px) {
  .techs__list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  .techs__list {
    margin: 50px 53px;
    justify-content: normal;
  }
}
