.techs__text {
  text-align: center;
  margin: 26px auto 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  font-weight: 400;
  max-width: 460px;
}

@media screen and (max-width: 768px) {
  .techs__text {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 500px) {
  .techs__text {
    font-size: 11px;
    line-height: 16px;
    margin-top: 24px;
  }
}
