.footer__links {
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
}

@media screen and (max-width: 500px) {
  .footer__links {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: normal;
    padding-top: 27px;
    gap: 25px;
  }
}
