.about-project__week {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  padding: 9px 0 9px;
}

@media screen and (max-width: 500px) {
  .about-project__week {
    font-size: 11px;
    letter-spacing: 0em;
    line-height: 15px;
  }
}
